<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>yodaspeakify</servlet-name>
		<servlet-class>com.appspot.yodaspeakify.YodaspeakifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>yodaspeakify</servlet-name>
		<!-- <url-pattern>/yodaspeakify</url-pattern> -->
		<url-pattern>/_wave/robot/jsonrpc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>profile</servlet-name>
		<servlet-class>com.appspot.yodaspeakify.YodaspeakifyProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/_wave/robot/profile</url-pattern>
	</servlet-mapping>
	<!-- This is commented out because the app engine chokes on it for reasons
		unknown -->
	<!-- <welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list> -->
</web-app>
